.temporizador {
    display: flex;
    flex-direction: row; 
    align-items: center;
    font-size: 0.85rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #d5d2d255;
    border-radius: 5px;
    text-align: center;
    padding: 10px 10px;
}

.temporizador .tiempo {
    margin-right: 10px; 
}