.container{
    display: flex;
    gap: 30px;
}

.menu-tableros {
    padding: 20px;
}
  
.lista-tableros {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}
  
.tablero-card{
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}
  
.tablero-card:hover {
    transform: scale(1.05);
}

.tablero-preview {
    height: 100px;
    border-radius: 8px;
    margin-top: 10px;
}

.boardGrid{
    display: flex;
    width: 300px;
    font-size: 20px;
    height: 180px;
    background: #4C4949;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.lista-preview {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;
}

.mini-list {
    background: white;
    border-radius: 4px;
    padding: 5px;
    width: 30px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.mini-card {
    background: #0079bf;
    width: 20px;
    height: 15px;
    border-radius: 2px;
}