.temporizador {
    display: flex;
    flex-direction: row; /* Alinea los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: #d5d2d255;
    border-radius: 5px;
    text-align: center;
    padding: 10px 10px;
}

.temporizador .tiempo {
    margin-right: 10px; /* Agrega un margen derecho al temporizador */
}