

/* Tablero.module.css */
.tablero {
    flex-grow: 1; /* Ocupa todo el espacio disponible */
    padding: 20px;
    margin-left: 20px; /* Compensa el margen del fondo */
    overflow-x: auto; /* Permite scroll horizontal */
}

.columnas {
    min-height: calc(100vh - 150px); /* Altura mínima visible */
    display: flex;
    gap: 1rem;
}

.nombre{
    background-color: #21212166;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    color: rgb(250, 250, 250);
    width: 100%;
}
.contener{
    display: none;
    align-items: flex-start;
    gap: 10px;
    margin: 0px 20px;
}
