:root {
    --color-fondo: #26283b;
    --ancho-fondo: 100vw;
    --alto-fondo: 100vh;
}

.fondo {
    background-color: var(--color-fondo);
    width: var(--ancho-fondo);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 6.8vh; 
    margin-left: 50px;
    position: relative;
}