:root {
    --color-fondo: #D9D9D9;
    --ancho-fondo: 100vw;
    --alto-fondo: 100vh;
}

/* Fondo.module.css */
.fondo {
    background-color: var(--color-fondo);
    width: var(--ancho-fondo);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 6.8vh; /* Altura de la cabecera */
    margin-left: 50px; /* Ancho del menú cerrado */
    position: relative;
}