.cabecera {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: #2F2C2C;
    padding: 0 2rem;
    height: 4.8vh;
    width: 100%;
    gap: 1rem;
    justify-content: center;
}

.cabecera__left_group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 2rem; 
}

.btn_espacio,
.btn_menu_arriba {
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    font-size: 0.85rem;
    transition: all 0.2s ease;
    min-width: 140px;
    text-align: center;
    outline: none;
}

.btn_espacio {
    background-color: #4d4848;
    border: 1px solid #666;
    color: white;
    outline: none;
}

.btn_menu_arriba {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    color: #000;
    outline: none;
}

.btn_espacio:hover {
    background-color: #5F5A5A;
    transform: translateY(-1px);
}

.btn_menu_arriba:hover {
    background-color: #e2dfdf;
    border-color: #e2dfdf;
}

.btn_espacio:focus,
.btn_espacio:active,
.btn_espacio:focus-visible,
.btn_menu_arriba:focus,
.btn_menu_arriba:active,
.btn_menu_arriba:focus-visible {
    outline: none;
}

.contenedor {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
}

.contenedor_botones {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form_group{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1024px) {
    .cabecera {
        padding: 0 1rem;
    }
    
    .cabecera__left_group {
        gap: 1rem;
        margin-left: 1rem;
    }
    
    .btn_espacio,
    .btn_menu_arriba {
        min-width: 120px;
        padding: 0.5rem 1rem;
    }
}
@media (max-width: 768px) {
    .cabecera {
        height: auto;
        padding: 0.5rem 1rem;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .cabecera__left_group,
    .contenedor_tempo {
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    
    .btn_espacio,
    .btn_menu_arriba {
        min-width: auto;
        width: 48%;
    }
}